
<div class = "container">

  <h3>
    Input user data
  </h3>

  <div class="row">
    <div class="input-field col s12">
      <input id="first_name"  type="text" class="validate" [(ngModel)] = "firstName">
      <label for="first_name" >First name</label>
      <p class = "red-alert">{{errMessage[0]}}</p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="last_name" type="text" class="validate" [(ngModel)] = "lastName">
      <label for="last_name" >Last name</label>
      <p class = "red-alert">{{errMessage[1]}}</p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" [(ngModel)] = "email">
      <label for="email" >E-mail</label>
      <p class = "red-alert">{{errMessage[2]}}</p>
    </div>
  </div>

  <a class="waves-effect waves-light btn" (click) = "onSubmit()">
    <i class="material-icons right">check</i>Submit</a>

</div>

<div [class.invisible] = "!users.length" class = "container">

<ul class="collapsible" data-collapsible="accordion">
	<li *ngFor = "let u of users">
	    <div class="collapsible-header">
	      <i class="large material-icons">person</i>
	      <p>{{u.firstName | titlecase}} {{u.lastName | titlecase}}</p>
	      <span class="badge">
	       <a class="btn-floating waves-effect waves-light red btn-flat " (click) = "removeUser(u)">
	       	<i class="large material-icons">close</i>
	       </a>
	      </span>
	  	</div>
	    <div class="collapsible-body">
        <p>First name: <b>{{u.firstName | titlecase}}</b><br> 
           Last name: <b>{{u.lastName | titlecase}}</b><br>
           E-mail: <b>{{u.email}}</b></p>
      </div>		
	</li>

</ul>

</div>